<nav class="bg-white shadow-md fixed top-0 left-0 w-full z-10">
  <div class="container mx-auto relative flex items-center justify-center p-4">

    <!-- Logo (alineado a la izquierda) -->
    <div class="absolute left-4 flex items-center space-x-3">
      <img src="<?php echo $_SERVER['REQUEST_SCHEME'] . '://' . $_SERVER['HTTP_HOST'] . '/ComanderaStore/public/img/logo-small.png'; ?>" 
           alt="Logo" class="w-24 h-12 object-contain">
      <span class="text-2xl font-bold bg-gradient-to-r from-sky-500 to-indigo-500 bg-clip-text text-transparent">OrderFlow</span>
    </div>

    <!-- Reloj digital (centrado) -->
    <div id="clock" class="bg-gray-900 text-blue-100 font-mono text-3xl px-6 py-2 rounded-md shadow-inner tracking-widest border border-gray-700"></div>

    <!-- Nombre del depósito (alineado a la derecha) -->
    <div class="absolute right-6 text-sky-700 font-semibold text-xl tracking-wide flex items-center space-x-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-sky-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 11c1.657 0 3-1.343 3-3S13.657 5 12 5 9 6.343 9 8s1.343 3 3 3z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M19.5 8a7.5 7.5 0 10-15 0c0 4.5 7.5 13 7.5 13s7.5-8.5 7.5-13z" />
      </svg>
      <span>
        <?= $sucursal; ?>
      </span>
    </div>

  </div>
</nav>