<nav class="bg-white shadow-md fixed top-0 left-0 w-full z-10">
    <div class="container mx-auto flex items-center justify-between p-4">
        <!-- Logo -->
        <div class="flex items-center space-x-3">
            <img src="<?php echo $_SERVER['REQUEST_SCHEME'] . '://' . $_SERVER['HTTP_HOST'] . '/ComanderaStore/public/img/logo-small.png'; ?>" alt="Logo" class="w-24 h-12 object-contain">
            <span class="text-xl font-bold text-gray-700">Comandera Store</span>
        </div>
    </div>
</nav>